@font-face {
  font-family: "Recipekorea";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#title {
  font-family: "Recipekorea";
}

#title2 {
  font-family: "Recipekorea";
}

#title3 {
  font-family: "NanumSquare";
}

#title4 {
  font-family: "NanumSquare";
}

#title5 {
  font-family: "NanumSquare";
}
